<div class="max-w-6xl mx-auto" *ngIf="orderHistories">
    <div class="rounded-lg border border-gray-200 bg-white mb-6 p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:p-6" *ngFor="let orderHistory of orderHistories">
        <div class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0">
            <a [routerLink]="'/product/' + orderHistory.order[0].productId._id" class="shrink-0 md:order-1">
                <img class="h-20 w-20"
                    [src]="orderHistory.order[0].productId.image" [alt]="'Image of ' + orderHistory.order[0].productId.name" />
            </a>

            <div class="flex items-center justify-between md:order-3 md:justify-end">
                
                <div class="text-end md:order-4">
                    <p class="text-base font-bold text-gray-900 dark:text-white">{{orderHistory.date | date:'medium'}}</p>
                </div>
                <div class="text-end md:order-4 md:w-32">
                    <p class="text-base font-bold text-gray-900 dark:text-white">${{orderHistory.order[0].productId.price}}</p>
                </div>
            </div>

            <div class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md">
                <a  [routerLink]="'/product/' + orderHistory.order[0].productId._id" class="text-base font-medium text-gray-900 hover:underline dark:text-white">
                    {{orderHistory.order[0].productId.name}}
                </a>
            </div>
        </div>
    </div>
</div>