<div class="max-w-6xl mx-auto" *ngIf="user">
    
<div  class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700" *ngIf="!showForm">

    <div class="flex justify-between">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{user.name}}</h5>
        <button class="button button--primary" (click)="edit()">Edit</button>
    </div>
    <p class="font-normal text-gray-700 dark:text-gray-400">{{user.creditCard}}</p>
    <p class="font-normal text-gray-700 dark:text-gray-400">{{user.email}}</p>
</div>

<form [formGroup]="editUserForm" (ngSubmit)="editUser()" class="card mt-6  p-7 form" *ngIf="showForm">
    <div class="pb-4 font-bold text-xl">
        Update your account
    </div>
    <div class="form__group">
        <label for="name" class="form__label">
            Name
            <span class="text-red-600">*</span>
        </label>
        <input type="text" id="name" name="name" formControlName="name" placeholder="Enter your name" required class="form__control">
        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="form__validation-text">
            <span *ngIf="name?.hasError('required')">
                Name is required.&nbsp;
            </span>
            <span *ngIf="name?.hasError('minlength')">
                Name must be at least of 10 letters.&nbsp;
            </span>
        </div>
    </div>
    <div class="form__group">
        <label for="credit-card" class="form__label">
            Credit Card
            <span class="text-red-600">*</span>
        </label>
        <input type="text" id="credit-card" name="credit-card" formControlName="creditCard" placeholder="Enter your credit card" required class="form__control">
        <div *ngIf="creditCard?.invalid && (creditCard?.dirty || creditCard?.touched)" class="form__validation-text">
            <span *ngIf="creditCard?.hasError('required')">
                Credit Card is required.&nbsp;
            </span>
            <span *ngIf="creditCard ?.hasError('minlength')">
                Credit Card must be at least of 10 letters.&nbsp;
            </span>
            <span *ngIf="creditCard ?.hasError('maxlength')">
                Credit Card must be at least of 15 letters.&nbsp;
            </span>
        </div>
    </div>
    <div class="form__group">
        <label for="email" class="form__label">
            Email
            <span class="text-red-600">*</span>
        </label>
        <input type="email" id="email" name="email" formControlName="email" placeholder="Enter your email" required class="form__control">
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="form__validation-text">
            <span *ngIf="email?.hasError('required')">
                Email is required.&nbsp;
            </span>
            <span *ngIf="email?.hasError('email')">
                Email is invalid.&nbsp;
            </span>
        </div>
    </div>
    <div class="pt-3">
        <button type="submit" class="button button--outline mr-3" [ngClass]="isButtonDisabled ? 'cursor-not-allowed': ''" [disabled]="isButtonDisabled">Cancel</button>
        <button type="submit" class="button button--primary" [ngClass]="isButtonDisabled ? 'cursor-not-allowed': ''" [disabled]="isButtonDisabled">Update</button>
    </div>
</form>
    
</div>
